html, body{
    height: 100%;
}

header{
    background-image: url('../img/castelo.jpg');
    background-position: center center;
    background-size: cover;
    height: 100%;
    position: relative;
}

header h1{
    margin-top: 0;
}

.accordion-button{
    background-color: #eeeeee;
    border: 1px solid #d1d0d0e3;
}

.accordion-button:not(.collapsed){
    background-color: #eeeeee;
    border: 1px solid #d1d0d0e3;
    color: #5e5d5dd0;
    font-weight: bold;
}

.banner{
    background: rgba( 0, 0, 0, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    order: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #fefefe;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: .4s;
    width: 100%;
}

#jumbotron{
    background-color: #5f5e5e;
    text-align: center;
}

.imagem-logo{
    height: 50px;
    width: auto;
}

.titulo-depoimentos{
    background-color: #5e5d5dd0;
    color: #fefefe;
    margin-bottom: 0;
    padding: 20px 15px;
}

.grupo-radio, .contato-select{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.btn-white{
    background-color: #fefefe;
}